*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;;
}

body{
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items:center;
}

.all{
    background-color:rgb(194, 194, 194);
    width: 620px;
    height: 500px;
    text-align: center;
    border:solid rgb(102, 102, 102) 3px;
}

section{
    display:flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    text-align: center;
}

img{
    width: 180px;
    height: 206px;
}

section.inputs{
    background-color:rgb(218, 218, 218);
    width:100%;
    height: 260px;
    align-items: flex-start;
}

form{
    margin-top:20px;
}
input{
    margin:5px;
}

input[type="text"]{
    width:350px;
    height: 60px;
    font-size: 40px;
    text-align: center;
    letter-spacing:1px;
    font-weight: 500;
    outline: none;
    border-radius: 2px;
    color:rgb(58, 58, 58);
    background-color:rgb(218, 218, 218);
    margin-bottom: 0;
}

span{
   font-size: 20px;
}

#caracter{
    margin-top: 5px;
    display: inline-block;
}

button{
    display: block;
    margin: 10px auto;
    font-size:25px;
    width: fit-content;
    padding:11px 48px;
    font-weight: 500;
    border-radius:4px;
    background-color: #467e94;
    color:rgb(224, 224, 224);
    outline:none;
}

button:hover{
    cursor: pointer;
    box-shadow: 2px 2px 8px 3px rgb(160, 160, 160);
    color:rgb(255, 255, 255);
}

small#powerPW{
    display: block;
    margin-top:-5px;
    font-size:.8rem;
    font-weight:700;
}

small{
    display: inline-block;
    margin-top:10px;
    font-size: 10px;
    letter-spacing:1px;
}

